{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "jsxSingleQuote": true,
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": { "parser": "json" }
    }
  ]
}
