{
    "presets": [
        "@babel/preset-react"
    ],
    "plugins": [
        [
            "babel-plugin-named-asset-import",
            {
              "loaderMap": {
                "svg": {
                  "ReactComponent": "@svgr/webpack?-prettier,-svgo![path]"
                }
              }
            }
        ]
    ]
    
}